*.user
*.suo
bin
obj
generated
*.suo
_ReSharper*
Coverage.log
TestResult.xml
*.sln.cache
*combined_*.css
*combined_*.js
Log/*.txt
_UpgradeReport_Files
UpgradeLog.XML
*.combined.js
*.combined.css
*.orig
*.less.debug.css
._*
*_combined.js
*_combined.css
!/tools/build
!/tools/lib/nunit/bin
Thumbs.db
.gitconfig
/*.InstallLog
node_modules
packages
*.sln.DotSettings
*.bak
.vs