<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="css/leankit-bootstrap.css"/>
        <link type="text/css" rel="stylesheet" href="css/kendo.common.min.css"/>
        <link type="text/css" rel="stylesheet" href="css/kendo.default.min.css"/>
        <link type="text/css" rel="stylesheet" href="css/kendo.bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="css/kb-charts.css"/>
        <link type="text/css" rel="stylesheet" href="css/app.css"/>
    </head>
    <body>
        <div class="container">
            <div id="header-region"></div>
            <div id="body1-region"></div>
            <div id="body2-region"></div>
            <div id="footer-region"></div>
        </div>
    
        <script src="lib/require-jquery.js" data-main="app.js"></script>
        
    </body>
</html>
