    <div class="row">
        <fieldset>
            <div class="col-xs-3">
                {{FilterType}}          
            </div> 
            <div class="col-xs-1">if</div>
            <div class="col-xs-3">
                {{TargetFieldName}}             
            </div>
            <div class="col-xs-1">=</div>
            <div class="col-xs-2">
                {{FilterValue}}
            </div>           
            <div class="col-xs-2">
                <div id="remove" class="btn btn-link no-padding" style="margin-top: -4px;">&nbsp;<span class="glyphicon glyphicon-remove"></span></div>
            </div>                   
        </fieldset>
    </div>
