                    <div class="panel-heading">
                        <strong>{{Title}}</strong>
                        <div class="pull-right">
                            <strong id="TargetProjectName"></strong>
                        </div>
                    </div>
<div id="not-mapped">
    <fieldset>
        <h4>This board is not yet mapped.</h4>
        <p>Select an available project to synchronize with <b>{{Title}}</b>:</p>
        <p>
            Select Project:&nbsp;{{{nestedView "projectPicker" factory="MappingDetail"}}}
        </p>
        <div id="btn-configure" class="btn btn-primary disabled" style="margin-left:100px">Configure...</div>
    </fieldset>
</div>
<div id="controls" class="k-content">
    <div id="save-btn" class="btn btn-sm btn-small-save btn-success hide">&nbsp;Save&nbsp;</div>
    <div id="error-icon" class="btn-small-save btn-warning hide text-warning">&nbsp;<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;</div>

    <div id="tabstrip">
        <ul>
            <li class="k-state-active">Selection</li>
            <li>Lanes and States</li>
            <li>Fields</li>
            <li>Card Types</li>
            <li>Options</li>
        </ul>
        <div class="tab-content">
            {{{nestedView "queryTab" factory="MappingDetail"}}}
        </div>
        <div class="tab-content">
            {{{nestedView "laneMapTab" factory="MappingDetail"}}}
        </div>
        <div class="tab-content">
            {{{nestedView "fieldMapTab" factory="MappingDetail"}}}
        </div>
        <div class="tab-content">
            {{{nestedView "typeMapTab" factory="MappingDetail"}}}
        </div>
        <div class="tab-content">
            {{{nestedView "optionsTab" factory="MappingDetail"}}}
        </div>
    </div>
</span>

