   <div class="panel-heading">
       Configure mappings between LeanKit boards and Target projects.
   </div> 
<div class="margin-lg" style="min-height:320px;">
<form class="form-inline">
                <fieldset>
                <div class="panel panel-primary col-xs-4 no-padding">
                    <div class="panel-heading">
                        <strong>
                            Boards
                            <div class="pull-right">
                                Target Project  
                            </div>                 
                        </strong>
                    </div>
                    <div style="margin:10px;">Select a board to map to a project.</div>
                    <div id="board-list"></div>

                </div>
                <div class="col-xs-8" id="mapping"></div>
            </fieldset>


    </form>