   <div class="panel-heading">
       Connect to your LeanKit account
   </div>
<div class="margin-lg" style="min-height:320px;">
    <p>The LeanKit Integration Service connects a LeanKit account to a Target System, and synchronizes LeanKit cards between a LeanKit board and the Target System. Network access to both systems and valid login credentials are required.
    </p>
    <p>Enter or update your LeanKit account settings to continue:</p>
    <div id="form">

    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-6 hide" id="spinner">
        <img src="img/9.gif"/> &nbsp;Verifying account settings...
    </div>
    <div id="message" class="help-block col-sm-6"></div>
</div>


