   <div class="panel-heading">
       Global settings for all mapped boards
   </div> 
<div class="margin-lg" style="min-height:360px">
    <form class="form-horizontal">
        <fieldset>
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    Check target for updates every&nbsp;<input id="PollingFrequency" type="text" style="width:50px" />&nbsp;<input id="PollingUnits" />.
                    <br />
                    OR 
                    <br />
                    Check target for updates every day at:&nbsp;<input id="PollingTime" /> <input class="btn btn-sm btn-primary" type="button" id="PollingTimeReset" value="Reset" />
                    <br/>
                    OR 
                    <br />
                    Do not check for updates after the first import:&nbsp;<input type="checkbox" id="PollingRunOnce">
                </div>
                <div class="list-group-item">
                    Synchronize items created after:&nbsp;<input id="EarliestSyncDate" />
                </div>
            </div>
        </fieldset>
    </form>
</div>

