<h2>Filters</h2>
<p><em>Filters are used to limit the items in the target system being synced to LeanKit cards.</em></p>
<p><em>Create an exclude filter when you want all items except those matching the filter to be imported. 
       Exclude filters are mutually exclusive. If the item meets any criteria for any exclude filter then 
       it will not be imported. Ex: I want to import all items except for those where Text3 = false.</em></p>
<p><em>Create an include filter when you only want items matching the filter to be imported. Multiple 
       include filters are compounded. The item must meet the criteria in each include filter to 
       be imported. Ex: I only want to import items where Text8 = true.</em></p>
<p><em>Combine include and exclude filters when you want to import all items meeting every include criteria 
       except for those matching any exclude criteria. Ex: I only want to import items where Text8 = true 
       except for when Text3 = false.
   </em></p>
<fieldset>
    <div class="panel panel-primary col-xs-12 no-padding">
        <div class="panel-heading" style="margin-bottom: 20px;">
            <span>{{Target}} Filters</span>
        </div>
        {{{nestedView "filtersCollection" factory="FiltersTab"}}}        

        <div class="row">
            <fieldset>
                <div class="col-xs-3">
                    {{{simpleSelect "getFilterTypes" null id="FilterType" class="form-control"}}}                
                </div> 
                <div class="col-xs-1">if</div>
                <div class="col-xs-3">
                    {{{simpleSelect "getFilterFields" null id="TargetField" class="form-control"}}}                
                </div>
                <div class="col-xs-1">=</div>
                <div class="col-xs-2">
                    <input type="text" id="FilterValue" style="width:50px;" />
                </div>           
                <div class="col-xs-2">
                    <div id="confirm" class="btn btn-primary btn-sm">Add</div>
                </div>
            </fieldset>
        </div>

    </div>
</fieldset>

