<h2>Item Selection</h2>
<p>Determine how items from <strong>{{TargetProjectName}}</strong> will be selected.</p>

<label class="radio">
    <input type="radio" name="optionsRadios" id="radio-simple" value="basic" checked>
    Simple Selection
</label>
<div id="simple">
    <div class="indented" id="iteration-path-section">
        <p><em>Using the selected Iteration Path:</em></p>
        <div>
            {{{simpleSelect "pathFilters" null id="iteration-paths" class="form-control"}}}
        </div>
    </div>

    <div class="indented" style="margin-top:20px;">
        <p><em>Create or Update a LeanKit card when a Target item:</em></p>    
        
        <p id="QueryStatesContainer" style="margin-top: 20px;"><em>... has one of these statuses:</em></p>
            {{{partial "States" factory="tab_query"}}}
            
        <p id="QueryDaysOutContainer" style="margin-top:20px"><em>... has a start date within <input type="text" id="QueryDaysOut" style="width:50px" /> days.</em></p>

        <p id="QueryTypesContainer" style="margin-top:20px"><em>... is one of these types:</em></p>
            {{{partial "Types" factory="tab_query"}}}       
    </div>
</div>

<div id="customContainer" style="margin-top:20px">
    <label class="radio">
        <input type="radio" name="optionsRadios" id="radio-custom" value="advanced">
        Custom Query
    </label>

    <div id="custom" class="hide">
        <p><em>Enter a valid custom query for your Target:</em></p>
    
        <div id="query" class="disabled">
            <textarea class="col-xs-10" rows="3" placeholder="Your custom query"/>
        </div>
    </div>
</div>
