<h2>Field Mapping</h2>
<p><i>Map the Target system's item fields to LeanKit fields.</i></p>
<fieldset>
    <div class="panel panel-primary col-xs-12 no-padding">
        <div class="panel-heading" style="margin-bottom: 20px;">
            <span>{{Target}}</span>
            <span class="pull-right">LeanKit</span>
        </div>
        {{{nestedView "fieldMapImportCollection" factory="FieldMapTab"}}}        
    </div>
</fieldset>
<p><i>Map the LeanKit fields to Target system's item fields.</i></p>
<fieldset>
    <div class="panel panel-primary col-xs-12 no-padding">
        <div class="panel-heading" style="margin-bottom: 20px;">
            <span>LeanKit</span>
            <span class="pull-right">{{Target}}</span>
        </div>     
        {{{nestedView "fieldMapExportCollection" factory="FieldMapTab"}}}     
    </div>
</fieldset>
