    <div class="row">
        {{#checkIf "isNew"}}
        <fieldset>
            <div class="col-xs-5">
                {{{simpleSelect "leanKitTypes" id="LeanKitType" class="form-control"}}}
            </div>
            <div class="col-xs-5">
                {{{simpleSelect "targetTypes" id="TargetType" class="form-control"}}}
            </div>
            <div class="col-xs-2">
                <div id="confirm" class="btn btn-primary btn-sm disabled"><span class="glyphicon glyphicon-ok"></span></div>
            </div>
        </fieldset>
        {{else}}
        <div class="col-xs-1">
            <div id="remove" class="btn btn-link no-padding" style="margin-top: -4px;">&nbsp;<span class="glyphicon glyphicon-remove"></span></div>
        </div>
        <div class="col-xs-5">
            {{LeanKitType}}
        </div>
        <div class="col-xs-5">
            {{TargetType}}
        </div>
        {{/checkIf}}
    </div>
